.get-started {
	background: url(../img/getStarted-bg.jpg) no-repeat scroll 0 0;
	background-size: cover; 
	&--lighter {
		background-color: $whitef3f3f3;
	}

	@media(min-width: $lg) {
		padding-bottom: 60px;
	}
	h1.heading-lg {
		padding-bottom: 5px;
	}
	p.paragraph-md {
		color: $black666;
		font-size: 13px;
		@media(min-width: $sm) {
			font-size: 12px;
		}
		@media(min-width: $lg) {
			font-size: 14px;
		}
		&--white {
			color: $white;
		}
	}
	.button {
		font-family: $Raleway-Bold;
		margin-top: 25px;
		@media(min-width: $lg) {
			margin-top: 40px;
		}
	}
}