.howtosell {
    background: $white;
	position: relative;
	&__content {
		@media(min-width: $sm) {
			padding: 80px 0 0px;
		}
		@media(min-width: $md) {
			padding: 100px 0 0px; //100px 0 0px
		}
	}


	&__infobusiness {
		font-family: $OpenSans-Semibold;
		color: $black333;
		padding: 20px 60px 15px;

		@media(min-width: $sm) {
			padding: 20px 20px 15px;
		}
		@media(min-width: $md) {
			padding: 30px 20px 15px;
		}
	}
	&__infosteps {
		font-family: $OpenSans-Regular;
		color: $black666;

		span {
			font-family: $OpenSans-Bold;
			color: $lighterdarkBlue;
		}
	}
	
	&__list {
		padding: 9px 0 0;
		@media(max-width: $xs-max) {
			margin-top: 30px;
		}
	}
	&__image {
		position: relative;
		margin-bottom: 80px;

		@media(min-width: $sm) {
			margin-bottom: 20px;
		}
	}
	&__stepcount {
		font-family: $OpenSans-ExtraBoldItalic;
		color: #c0c0c0;
		opacity: 0.15;
		font-size: 250px;
		text-align: center;
		line-height: 170px;

		@media(min-width: $sm) {
			font-size: 400px;
    		line-height: 273px;
    		text-align: right;
		}
		@media(min-width: $md) {
			font-size: 378px;
    		line-height: 282px;
		}
	}
	&__img {
		position: absolute;

		@media(max-width: $xs-max) {
			bottom: -40px;
			left: 50%;
			margin-left: -45px;
		    width: 90px;
		    height: 90px;
		}
		@media(min-width: $sm) {
			top:-9px;
			right: 0;
		}
	}
	&__description {
		@media(min-width: $sm) {
			padding-left: 10px;
		}
	}
	&__info {
		font-family: $Raleway-SemiBold;
		color: $darkblueheading;
		font-size: 14px;
		line-height:24px;
		margin: 20px 0;
		text-align: center;
		padding: 0 60px;

		@media(min-width: $sm) {
			font-size: 18px;
			line-height: 28px;
			margin: 0 0 20px;
			text-align: left;
			padding: 0;
		}
		@media(min-width: $md) {
			font-size: 20px;
			line-height: 30px;
		}
	}
	&__items {
		li {
			font-family: $OpenSans-Regular;
			color: $black666;
			font-size: 12px;
			line-height:22px;
			margin-bottom: 15px;
			padding-left: 20px;
			position: relative;

			@media(min-width: $sm) {
				font-size: 14px;
				line-height: 26px;
				margin-bottom: 20px;
				padding-left: 28px;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 8px;
				width: 6px;
				height: 6px;
				background-color: $black999;
				border-radius: 50%;

				@media(min-width: $md) {
					top: 10px;
					width: 8px;
					height: 8px;
				}
			}
		}
	}
}

/*
Scroll Magic scroller work
*/
@media(min-width: $sm) {
#pinContainer {
  width: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
#slideContainer {
  width: 500%;
}
.panelSlide {
  width: 20%;
  float: left;
  margin-bottom: 120px;
}
}


/* Dots */
.sell-pagination {    
	position: absolute;
    bottom: 0px;
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: $white;
    li {
    	position: relative;
    	height: 22px; 
    	width: 22px; 
    	margin: 0 0 0 65px; 
    	padding: 0;
    	display: flex; 
    	align-items: center; 
    	justify-content: center;
    	&:after {
    		content: '';
		    width: 65px;
		    background-color: #d9d9d9;
		    position: absolute;
		    top: 10px;
		    height: 1px;
		    left: 100%;
    	}
    	&:first-child {
    		margin:0;
    	}
    	&:last-child {
    		&:after {
    			content: none;
    		}
    	}
    	a {
    		border: 0; 
    		background: transparent; 
    		display: block; 
    		border-radius: 50%;
			height: 22px; 
			width: 22px; 
			line-height: 22px;
			outline: none; 
			font-size: 12px; 
			border: 1px solid $borderlightergray; 
			color: $borderlightergray; 
			padding: 0px; 
			cursor: pointer; 
			font-family: $OpenSans-BoldItalic;
			&:hover, &:focus {
				outline: none;
				&:before {
					opacity: 1;
				}
			}
    	}
    	&.active {
    		a {
    			border-color: $blueActive;
    			color: $blueActive
    		}
    	}
    }
}