.modal--loginSignup {
	.modal-header--signup {
		background-color: transparent !important;
		@media(max-width: $xs-max) {
			padding-bottom: 0;
		}
	}
	.modal-dialog {
		@media(min-width: $sm) {
			width: 440px;
		}
		@media(min-width: $lg) {
			width: 410px;
		}
	}
	.login-form {
		@media(min-width: $sm) {
			padding: 0 15px;
		}
	}

	.form-bottom-link {
		
		@media(min-width: $sm) {
			float: left;
		}

		&:last-child {
			@media(min-width: $sm) {
				float: right;
			}
		}

	}
}
.control {
	&--radio {
		display: inline-block;
		vertical-align: initial;
		margin-left: 30px;
	}
}

.form-group {
	.control--radio {
		margin-left: 30px;
	}
	&__radiolabel {
		color: $black999;
	}
	&--space {
		padding-top: 15px;
	}
}

.input__label {
	&--gender {
		float: none;
	}
}

.login-recovery-wrapper {
	position: relative;
	overflow: hidden;
}

.recover-pw-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: white;
	width: 100%;
	z-index: 14;
	transform: translateX(100%);
	transition: all 0.3s ease;

	&.is-active {
		transform: translateX(0%);

	}
}
.login-go-back {
	font-size: 12px;
	font-family: $OpenSans-Regular;
	color: $red;
	text-decoration: none;
	margin-top: 15px;
	@media(min-width: $sm) {
		font-size: 13px;
		margin-top: 27px;
	}
}
.form-group .help-block {
	font-size: 12px;
	font-family: $OpenSans-Regular;
	margin: 0;
	position: absolute;
}
#userSignup {
	.form-bottom-link {
		float: none;
		text-align: center;
	}
}

.signup-options {
	&__text {
		text-transform: uppercase;
		font-family: $OpenSans-Regular;
		font-size: 12px;
		color: $black666;
		margin: 15px 0 0;
		@media(min-width: $sm) {
			margin: 30px 0 0;
		}
	}
	&__social {
		margin-top: 5px;
		@media(min-width: $sm) {
			margin-top: 30px;
		}
		a {
			border: 1px solid rgba(102,102,102,0.2);
			border-radius: 6px;
			display: inline-block;
			padding: 12px 20px;
			margin: 10px 10px 0;
			@media(min-width: $sm) {
				margin: 0 10px;
			}
			span {
				text-transform: uppercase;
				font-family: $OpenSans-Semibold;
				font-size: 13px;
				color: $black666;
				padding-left: 20px;
			}
		}	
	}
}

.forgot-link.button {
	font-family: $Raleway-Medium;
	font-size: 14px;
	text-transform: capitalize;
	text-decoration: none;
	margin-bottom: 15px;
	font-weight: inherit;
	&:hover {
		text-decoration: underline;
	}
	@media(min-width: $md) {
		font-size: 12px;
		padding: 0;
		margin-bottom: 0;
	}

	@media(min-width: $lg) {
		font-size: 14px;
	}
}
.form-button {
	padding-top: 20px;
}
.form-bottom-link {
	font-family: $Raleway-Medium;
	font-size: 14px;
	line-height: 24px;
	color: $black666;
	margin-top: 10px;
	a {
		text-transform: capitalize;
		text-decoration: none;
		font-size: 14px;
		line-height: 24px;
	}
}