doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="IE=10")
	title MobikeBazar - Frequently Asked Questions
	link(rel="stylesheet", href="css/main.css")
	link(rel="shortcut icon", href="img/favicon.ico")
	script(src='js/plugins/modernizr.js')

body.no-overflow
	header.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigation-collapse', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='index.html')
					img.logo__image(src="img/Logo.svg", alt="mobike bazar logo")
			ul.nav-links.pull-right
				li
					a.button.button--link.button--sm(data-toggle="modal" data-target="#userLogin") Login
				li
					a.button.button--primary-red.button--primary-red--border.button--sm(href="http://projects.lollypop.biz/mobikebazar/signup.html") Register
			#navigation-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='javascript:void(0);') HOME
					li
						a(href='javascript:void(0);') BENEFITS
					li
						a(href='javascript:void(0);') HOW TO SELL
					li
						a(href='javascript:void(0);') PRICING
					li.active
						a(href="faq.html") FAQ
					
	//START: Main
	main
		//START: Banner
		section.banner
			.container
				.row
					h1.text-center.banner__heading Frequently Asked Questions
					span.text-center.banner__subheading How does selling on Mobikebazar.com work?
					.engine
						object(type="image/svg+xml" data="img/Engine_left.svg").engine__left#engine__left
						object(type="image/svg+xml" data="img/Engine_Right.svg").engine__right#engine__right

		//START: Content
		section.content
			.container
				.row
					.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
						.static-container.accordion-default
							#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default
									#headingOne.panel-heading(role='tab')
										h4.panel-title
											a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
												| HOW DO I REGISTER AS A SELLER?
									#collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne' aria-expanded='true')
										.panel-body
											p You need to register in order to receive the Seller Registration Form via email and for getting verified as a seller. You also have the option of getting in touch with our representatives at our help line number. They ware always there to ensure that your registration process is smooth.

								.panel.panel-default
									#headingTwo.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
												| DO I HAVE THE OPTION OF CANCELLING MY REGISTRATION?
									#collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo' aria-expanded='false')
										.panel-body
											p Yes, you can cancel your registration whenever you want to by writing to us at seller@mobikebazar.com or by getting in touch by us through our help line number.

								.panel.panel-default
									#headingThree.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
												| CAN I SELL MY PRODUCTS IN INDIA ONLY OR OUTSIDE INDIA TOO?
									#collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree' aria-expanded='false')
										.panel-body
											p No, as of now, you can use our services only for serving Indian customers.

								.panel.panel-default
									#headingFour.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
												| HOW TO LIST PRODUCTS ON MOBIKEBAZAR.COM?
									#collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour' aria-expanded='false')
										.panel-body
											p Listing products on mobikebazar.com is easy. Please get in touch with our business development representatives at our help line number. They will ensure that listing products on mobikebazar.com is easy and quick.

								.panel.panel-default
									#headingFive.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
												| WILL THE CUSTOMERS BE AWARE OF THE FACT THAT THEY ARE BUYING MY PRODUCT FROM MOBIKEBAZAR.COM?
									#collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive' aria-expanded='false')
										.panel-body
											p Yes, your name will be mentioned in the details of your product and in the invoice too.

								.panel.panel-default
									#headingSix.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSix', aria-expanded='false', aria-controls='collapseSix')
												| CAN I SELL MY PRODUCTS THROUGH MOBIKEBAZAR.COM EVEN IF I DON'T HAVE A WEBSITE OF MY OWN?
									#collapseSix.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSix' aria-expanded='false')
										.panel-body
											p Yes, in order to sell your products through mobikebazar.com, you just need to register yourself as a seller, list your products at mobikebazar.com and then sit back and witness the desired sale of your products.

								.panel.panel-default
									#headingSeven.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseSeven', aria-expanded='false', aria-controls='collapseSeven')
												| HOW CAN I MANAGE MY ORDERS IN THE MOST EFFECTIVE WAY?
									#collapseSeven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingSeven' aria-expanded='false')
										.panel-body
											p We will provide you with an easy-to-use Dashboard through which you will easily be able to manage your orders in the most effective way.

								.panel.panel-default
									#headingEight.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseEight', aria-expanded='false', aria-controls='collapseEight')
												| HOW MUCH DO I NEED TO PAY FOR SELLING MY PRODUCTS ON MOBIKEBAZAR.COM?
									#collapseEight.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingEight' aria-expanded='false')
										.panel-body
											p You don't need to pay anything for registration and listing your products on mobikebazar.com. You need to pay us only after you get an order and payment from the customer is received. For more information, please refer to our Pricing Section or get in touch with our representatives at our help line number.

								.panel.panel-default
									#headingNine.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseNine', aria-expanded='false', aria-controls='collapseNine')
												| HOW WOULD I BE PAID BY MOBIKEBAZAR.COM?
									#collapseNine.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingNine' aria-expanded='false')
										.panel-body
											p Mobikebazar.com will pay you for all the successful orders by transferring the amount to your bank account as per the payment cycle:
											ul
												li 1st to 7th day: 17th of same month
												li 8th to 15th day: 25th of same month
												li 16th to 23rd day: 3rd of next month
												li 24th to 31st day: 11th of next month

								.panel.panel-default
									#headingTen.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTen', aria-expanded='false', aria-controls='collapseTen')
												| HOW DO YOU TAKE CARE OF THE RETURNS FROM CUSTOMERS?
									#collapseTen.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTen' aria-expanded='false')
										.panel-body
											p Mobikebazar.com is responsible for handling returns from customers. For more information, please feel free to refer to the Cancellation & Returns Policy section.

								.panel.panel-default
									#headingEleven.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseEleven', aria-expanded='false', aria-controls='collapseEleven')
												| ARE CUSTOMERS ALLOWED TO PROVIDE FEEDBACK? WHY IS IT IMPORTANT FOR ME?
									#collapseEleven.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingEleven' aria-expanded='false')
										.panel-body
											p Yes, customers are free to provide feedback on products as well as sellers. While shopping, customers will prefer your products if and only if you will have a high rating and positive feedbacks in abundance...

							h5.text-center.faq-title Fulfillment By Mobikebazar.com FAQs

							#accordion.panel-group(role='tablist', aria-multiselectable='true')
								.panel.panel-default
									#heading1.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse2', aria-expanded='false', aria-controls='collapse2')
												| What Is Your Fulfillment Service All About?
									#collapse2.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading1' aria-expanded='false')
										.panel-body
											p You need to register in order to receive the Seller Registration Form via email and for getting verified as a seller. You also have the option of getting in touch with our representatives at our help line number. They ware always there to ensure that your registration process is smooth.

								.panel.panel-default
									#heading2.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse2', aria-expanded='false', aria-controls='collapse2')
												| Can I Cater To Customers Outside India Too Through You?
									#collapse2.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading2' aria-expanded='false')
										.panel-body
											p Yes, you can cancel your registration whenever you want to by writing to us at seller@mobikebazar.com or by getting in touch by us through our help line number.

								.panel.panel-default
									#heading3.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse3', aria-expanded='false', aria-controls='collapse3')
												| What Products Are Included Under The Umbrella Of Your Fulfillment Service?
									#collapse3.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading3' aria-expanded='false')
										.panel-body
											p No, as of now, you can use our services only for serving Indian customers.

								.panel.panel-default
									#heading4.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse4', aria-expanded='false', aria-controls='collapse4')
												| What Is The Minimum Number Of Items Required To Use Your Fulfillment Service?
									#collapse4.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading4' aria-expanded='false')
										.panel-body
											p Listing products on mobikebazar.com is easy. Please get in touch with our business development representatives at our help line number. They will ensure that listing products on mobikebazar.com is easy and quick.

								.panel.panel-default
									#heading5.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse5', aria-expanded='false', aria-controls='collapse5')
												| Do I Need To Sell On Mobikebazar.Com In Order To Avail Your Fulfillment Service?
									#collapse5.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading5' aria-expanded='false')
										.panel-body
											p Yes, your name will be mentioned in the details of your product and in the invoice too.

								.panel.panel-default
									#heading6.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse6', aria-expanded='false', aria-controls='collapse6')
												| How Will I Be Billed For Your Fulfillment Service?
									#collapse6.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading6' aria-expanded='false')
										.panel-body
											p Yes, in order to sell your products through mobikebazar.com, you just need to register yourself as a seller, list your products at mobikebazar.com and then sit back and witness the desired sale of your products.

								.panel.panel-default
									#heading7.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse7', aria-expanded='false', aria-controls='collapse7')
												| Who Will Take Care Of Customer Service?
									#collapse7.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading7' aria-expanded='false')
										.panel-body
											p We will provide you with an easy-to-use Dashboard through which you will easily be able to manage your orders in the most effective way.

								.panel.panel-default
									#heading8.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse8', aria-expanded='false', aria-controls='collapse8')
												| Will Mobikebazar.Com Be Also Responsible For After-Sales Services?
									#collapse8.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading8' aria-expanded='false')
										.panel-body
											p You don't need to pay anything for registration and listing your products on mobikebazar.com. You need to pay us only after you get an order and payment from the customer is received. For more information, please refer to our Pricing Section or get in touch with our representatives at our help line number.

								.panel.panel-default
									#heading9.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse9', aria-expanded='false', aria-controls='collapse9')
												| Who Will Be Responsible For The Handling Of Customer Returns?
									#collapse9.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading9' aria-expanded='false')
										.panel-body
											p Mobikebazar.com will pay you for all the successful orders by transferring the amount to your bank account as per the payment cycle:
											ul
												li 1st to 7th day: 17th of same month
												li 8th to 15th day: 25th of same month
												li 16th to 23rd day: 3rd of next month
												li 24th to 31st day: 11th of next month

								.panel.panel-default
									#heading10.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse10', aria-expanded='false', aria-controls='collapse10')
												| How Will You Carry Out The Customer Returns?
									#collapse10.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading10' aria-expanded='false')
										.panel-body
											p Mobikebazar.com is responsible for handling returns from customers. For more information, please feel free to refer to the Cancellation & Returns Policy section.

								.panel.panel-default
									#heading11.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse11', aria-expanded='false', aria-controls='collapse11')
												| What Would Be The Fate Of My Unsold Inventory?
									#collapse11.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading11' aria-expanded='false')
										.panel-body
											p Yes, customers are free to provide feedback on products as well as sellers. While shopping, customers will prefer your products if and only if you will have a high rating and positive feedbacks in abundance...

								.panel.panel-default
									#heading12.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse12', aria-expanded='false', aria-controls='collapse12')
												| Which Products Should Be Stored At Your Warehouse?
									#collapse12.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading12' aria-expanded='false')
										.panel-body
											p Yes, customers are free to provide feedback on products as well as sellers. While shopping, customers will prefer your products if and only if you will have a high rating and positive feedbacks in abundance...

								.panel.panel-default
									#heading13.panel-heading(role='tab')
										h4.panel-title
											a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapse13', aria-expanded='false', aria-controls='collapse13')
												| How Should The Products Need To Be Packed If One Wants Them To Be Shipped By You?
									#collapse13.panel-collapse.collapse(role='tabpanel', aria-labelledby='heading13' aria-expanded='false')
										.panel-body
											p Yes, customers are free to provide feedback on products as well as sellers. While shopping, customers will prefer your products if and only if you will have a high rating and positive feedbacks in abundance...
			
		//START: Stay started
		section.section-padding.get-started.get-started--lighter
			.container
				.row
					article.text-center
						h1.heading-lg GET STARTED
						p.paragraph-md Start your business with MobikeBazar.com now!
						button.button.button--md.button--primary-red.button--primary-red--border(type='button') START SELLING
				

	//START: Footer
	footer.section-padding
		.container
			.row
				.col-xs-12.mobile-footer
					a(href='javascript:void(0);').mobile-footer__link
						img(src='img/Logo.svg' alt='Mobike Bazaar')
					a(href='javascript:void(0);').mobile-footer__link terms &amp; conditions

				.col-sm-12.col-md-10.col-md-offset-1.hidden-xs
					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm information
						ul.footer-list
							li.footer-list__item
								a(href='aboutus.html').footer-list__link about us
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link delivery information
							li.footer-list__item
								a(href='privacy-policy.html').footer-list__link privacy policy
							li.footer-list__item
								a(href='terms-conditions.html').footer-list__link terms &amp; conditions
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link site map

					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm my account
						ul.footer-list
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link my account
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link order history
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link wish list
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link newsletter
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link email a friend

					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm service &amp; support
						ul.footer-list
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link brands
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link get vouchers
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link affiliates
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link get a quote

					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm connect with us
						ul.footer-list
							li.footer-list__item
								a(href='tel:+91 9414111060').footer-list__link +91 9414111060
							li.footer-list__item
								a(href='mailto:sellers@mobikebazar.com').footer-list__link sellers@mobikebazar.com
						ul.social
							li.social__item
								a(href='javascript:void(0);').social__link.social__link--facebook
									i.mb-icon-facebook.social__icon
							li.social__item
								a(href='javascript:void(0);').social__link.social__link--twitter
									i.mb-icon-twitter.social__icon
							li.social__item
								a(href='javascript:void(0);').social__link.social__link--linkedin
									i.mb-icon-linkedin.social__icon
	//START: Login Modal- User
	#userLogin.modal.fade.modal--fullxs.modal--loginSignup(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.login-recovery-wrapper
					.login-wrapper
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
							h4.modal-title Login with MobikeBazar 
						.modal-body
							form.login-form(data-toggle="validator" role="form")
								.row
									.col-sm-12
										.form-group
											span.input.input--hoshi
												input#email-field.input__field.input__field--hoshi(type='text' data-error="Please enter email address" required)
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='email-field')
													span.input__label-content.input__label-content--hoshi Email 
											.help-block.with-errors
									.col-sm-12
										.form-group
											span.input.input--hoshi
												input#password-field.input__field.input__field--hoshi(type='password' data-error="Please enter password" required)
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='password-field')
													span.input__label-content.input__label-content--hoshi Choose Password
											.help-block.with-errors

									.col-sm-12.form-button
										button.button.button--primary-white.button--lg.btn-block LOGIN
									.col-sm-12.form-button
										.form-group.clearfix
											.form-bottom-link 
												a.button.button--link.recover-pw-link(href='#')  Recover Password
											.form-bottom-link New to mobike bazar? 
												a.button.button--link(href="http://projects.lollypop.biz/mobikebazar/signup.html")  Sign Up !
					.recover-pw-wrapper
						.modal-header
							h4.modal-title Recover Password 
							p.modal-subtitle We will send you a recovery mail. Please enter your email ID
						.modal-body
							form.login-form(data-toggle="validator" role="form")
								.row
									.col-sm-12
										.form-group
											span.input.input--hoshi
												input#email-field.input__field.input__field--hoshi(type='text' data-error="Please enter email address" required)
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='email-field')
													span.input__label-content.input__label-content--hoshi Email
											.help-block.with-errors
								
									.col-sm-12.form-button
										button.button.button--primary-white.button--lg.btn-block recover password
									.col-sm-12.form-button
										.form-group.clearfix
											.text-center
												a.button.button--link.login-go-back(href='#')  LOGIN
	//START: Plugin Scripts
	script(src="js/plugins/jquery.js")
	script(src="js/plugins/bootstrap.min.js")
	script(src="js/plugins/vivus.min.js")

	//START: Custom Scripts
	script(src="js/vivus-init.js")
	script(src="js/main.js")
