doctype html
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(http-equiv="x-ua-compatible" content="IE=10")
	title MobikeBazar - Privacy &amp; Policy
	link(rel="stylesheet", href="css/main.css")
	link(rel="shortcut icon", href="img/favicon.ico")
	script(src='js/plugins/modernizr.js')

body.no-overflow
	header.navbar.navbar-default
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navigation-collapse', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='index.html')
					img.logo__image(src="img/Logo.svg", alt="mobike bazar logo")
			ul.nav-links.pull-right
				li
					a.button.button--link.button--sm(data-toggle="modal" data-target="#userLogin") Login
				li
					a.button.button--primary-red.button--primary-red--border.button--sm(href="http://projects.lollypop.biz/mobikebazar/signup.html") Register
			#navigation-collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='javascript:void(0);') HOME
					li
						a(href='javascript:void(0);') BENEFITS
					li
						a(href='javascript:void(0);') HOW TO SELL
					li
						a(href='javascript:void(0);') PRICING
					li
						a(href="faq.html") FAQ
					
	//START: Main
	main
		//START: Banner
		section.banner
			.container
				.row
					h1.text-center.banner__heading Privacy and Policy
					.engine
						object(type="image/svg+xml" data="img/Engine_left.svg").engine__left#engine__left
						object(type="image/svg+xml" data="img/Engine_Right.svg").engine__right#engine__right

		//START: Content
		section.content
			.container
				.row
					.col-sm-10.col-sm-push-1.col-md-8.col-md-push-2
						//- .accordion-default
							
						//- 	h4.panel-title Warrenties
						//- 	.panel-body
						//- 		p By accessing the website, you warrant and represent to the website owner that you are legally entitled to do so and to make use of information made available via the website.
						ol.tnc-menu
							
							ul.menu-list-lower-latin
								li.menu-list-lower-latin__item  We, Mobikesouk Online Solution Private Limited (hereinafter referred to as the <b>“Company”)</b> a private limited company, incorporated under the provisions of the Indian Companies Act, 2013, and having its registered office at [insert registered office address], represented by its members, where such expression shall, unless repugnant to the context thereof, be deemed to include its respective legal heirs, representatives, administrators, permitted successors and assigns. The creator of this Privacy Policy ensures our steady commitment to Your privacy with regard to the protection of your invaluable information. This privacy policy contains information about an online website called www.mobikebazar.com (hereinafter referred to as the <b>“Website”)</b>. In order to provide You with Our uninterrupted use of services, We may collect and, in some circumstances, disclose information about you. To ensure better protection of Your privacy, We provide this notice explaining Our information collection and disclosure policies, and the choices You make about the way Your information is collected and used.
								p.menu-list-noitem.menu-list-noitem--uppercase any capitalized words used henceforth shall have the meaning accorded to them under this agreement. further, all heading used herein are only for the purpose of arranging the various provisions of the agreement in any manner. neither the user nor the creaters of this privacy policy may use the heading to interpret the provisions contained within it in any manner. 
							ol.tnc-menu
								li.tnc-menu__item DEFINITIONS
									ul.menu-list-lower-latin
										li.menu-list-lower-latin__item <b>“We”, “Our”, and “Us” </b>shall mean and refer to the creators of this privacy policy.
										li.menu-list-lower-latin__item <b>“You”, “Your”, “Yourself” and “User” “Business User” </b>shall mean and refer to natural and legal individuals who use the Website.
										li.menu-list-lower-latin__item <b>“Business User”</b> shall mean and refer to natural and legal individuals who list their products and services on the Website after approval of the Company
										li.menu-list-lower-latin__item <b>“Personal Information”</b> shall mean and refer to any personally identifiable information that We may collect from You. For removal of any doubts, please refer to Clause 2.
										li.menu-list-lower-latin__item <b>“Third Parties”</b> refer to any website, company or individual apart from the User and the creator of this Website.

								li.tnc-menu__item INFORMATION COLLECTED
									p.menu-list-noitem We are committed to respecting Your online privacy. We further recognize Your need for appropriate protection and management of any Personal Information You share with us. Since we provide certain services related to the motorcycles of Users/ Business Users, we may collect the following information which are appropriately required to provide such services:
									ul.menu-list-lower-latin
										p.menu-list-noitem From Users:
										li.menu-list-lower-latin__item personal data of the User such as, but not limited to, Name, Address, Email ID, Mobile Number.
										li.menu-list-lower-latin__item Tracking Information such as, but not limited to the IP address of your device and Device ID when connected to the Internet.
										p.menu-list-noitem Business Users:
										li.menu-list-lower-latin__item Personal data of the Business User such as, but not limited to, Name, Address, Email ID, Mobile Number.
								li.tnc-menu__item TESTIMONIALS
									p.menu-list-noitem The testimonials section of the Mobikebazar.com website is moderated to ensure accurate and positive testimonials. Published testimonials are genuine and are not edited or altered by the Website. The Website reserves the right to post or remove any testimonial at its discretion.
									p.menu-list-noitem By posting Your comment(s) or testimonial(s) ("Testimonial") on our website, you give us permission to reprint or use the Testimonial in connection with our business. You also are agreeing to the following:
									ul.menu-list-lower-latin
										li.menu-list-lower-latin__item The reprint or use of the Testimonial will be at our discretion and without compensation; 
										li.menu-list-lower-latin__item The use of the testimonial with or without any pseudo (pen) name credit;
										li.menu-list-lower-latin__item The Website’s perpetual and assignable right to use the Testimonial; 
										li.menu-list-lower-latin__item The use of the Testimonial locally, nationally or globally in any media, information or communication platform (including Internet advertising) currently in use or later developed.

									p.menu-list-noitem Other than Your pseudo (pen) name, which we may or may not use, your personal contact information will not be disclosed in connection with our reprint or use of your Testimonial.	
								li.tnc-menu__item EXTERNAL LINKS ON THE WEBSITE
									p.menu-list-noitem The Website may include advertisement hyperlinks to other websites, applications, content or resources. We have no control over such external links present in the Website, which are provided by persons or companies other than Us. 
									p.menu-list-noitem You acknowledge and agree that We are not responsible for any collection or disclosure of your Personal Information by any external sites, Websites, companies or persons, nor do We endorse any advertising, products or other material on or available from such external Websites or resources.
									p.menu-list-noitem You further acknowledge and agree that We are not liable for any loss or damage which may be incurred by You, as a result of the collection and/or disclosure of Your personal information by external Websites, sites or resources, or as a result of any reliance placed by You on the completeness, accuracy or existence of any advertising, products or other materials on, or available from such Websites, websites or resources. This external Website, websites and resource providers may have their own privacy policies governing the collection, storage, retention and disclosure of Your Personal Information that You may be subject to. We recommend that You enter the external Website and review their privacy policy. We allow third parties/individuals to display advertisements when you use the Website.

								li.tnc-menu__item OUR USE OF YOUR INFORMATION
									p.menu-list-noitem The information provided by You at the time of registration shall be used to contact You when necessary. For more details about the nature of such communications, please refer to our Terms of Service. Further, Your personal data may be collected and stored by Us for internal record. 
									p.menu-list-noitem We use Your tracking information such as IP addresses, and or Device ID to help identify you and to gather broad demographic information. 
									p.menu-list-noitem In case We are acquired by or merged with another company, We shall be legally obliged to share information disclosed by You and information about You to the company we are acquired by or merged with. In the event of a merger or acquisition, We shall notify You by email to review our revised privacy policy, as and when Your Personal Information is shared with or becomes subject to a different privacy policy. 

								li.tnc-menu__item COOKIES
									p.menu-list-noitem We use data collection devices such as "cookies" on certain pages of our Websites. A cookie is a small data file sent by our website onto your computer, tablet, Smartphone or similar device each time you use the device to visit our website. Cookies mean that the next time you visit the website our system recognises your device, and cookies assist us in providing customized services. We also offer certain features that are only available through the use of a "cookie". Cookies can also help us provide information, which is targeted to your interests. Cookies may be used to identify logged in or registered users. A cookie itself contains no personal data and does not collect any personal data. Cookies can store user settings and other information.
									p.menu-list-noitem We will not share any personally identifiable information provided by this Cookie with any third party. We will, however, link data stored in Cookies to the personally identifiable information You submitted while on our site. If you choose to reject the Cookie, you can still browse our store but will be unable to use the ‘shopping cart’ to purchase merchandise. The Mobikebazar.com shopping cart cannot function without cookies enabled so that the necessary information to process your order is retained. If you disable Cookies, Mobikebazar.com will be unable to accept your online order. 
									p.menu-list-noitem Any cookies sent by Mobikebazar.com, as the site operator, and stored on your device are designated “first-party cookies”. Some cookies may be placed by other parties; these are then designated “third party cookies”. First party cookies are those cookies which are associated with the host name. Third party cookies are cookies from other domains. Some of our business partners (e.g., advertisers) use Cookies on our site. We have no access to or control over these Cookies, as they are generated by third party provider domains, and can therefore only be administered by the respective third party. This privacy statement covers the use of cookies by the first party only and does not cover the use of cookies by any advertisers. 

								li.tnc-menu__item CONFIDENTIALITY
									p.menu-list-noitem Your information is regarded as confidential and therefore shall not be divulged to any third party, unless if legally required to do so to the appropriate authorities, or if necessary to ensure Users may fully avail of the services of the Website.
									p.menu-list-noitem We shall not sell, share, or rent your personal information to any marketing agencies or any other such companies that indulge in unsolicited communications. Any communication by Us to You shall be undertaken in accordance with Our Terms of Service and Privacy Policy.

								li.tnc-menu__item DISCLOSURE OF YOUR INFORMATION TO THIRD PARTIES

									ul.menu-list-lower-latin
										li.menu-list-lower-latin__item <b>External Service Providers:</b> There may be a number of services offered by external service providers that help You use our Website. If You choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/ or grant them permission to collect information about You, then their use of Your information is governed by their privacy policy.
										li.menu-list-lower-latin__item <b>Other Corporate Entities:</b> We share much of our data, including Your Personal Information, with Our parent and/ or subsidiaries that are committed to serving Your needs through use of Our Website and related services, throughout the world. Such data shall be shared for the sole purpose of enhancing Your experience of using the Website. To the extent that these entities have access to your information, they shall treat it at least as protectively as they treat information they obtain from their other members. It is possible that We and/or its subsidiaries, or any combination of such, could merge with or be acquired by another business entity. Should such a combination occur, you should expect that we would share some or all of your information in order to continue to provide the service. You shall receive notice of such event (to the extent it occurs).
										li.menu-list-lower-latin__item <b>Law and Order:</b> We cooperate with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can, and You so authorise Us, disclose Your Personal Information to law enforcement and other government officials as We, in Our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose Us/ Us or You to any legal liability. 
									p.menu-list-noitem Any information that you make publically available on the site may be potentially viewed by any party, and by posting such material it is deemed that you consent to share such information with such parties.

								li.tnc-menu__item ACCESSING, REVIEWING AND CHANGING YOUR PROFILE
									p.menu-list-noitem registration, You can review and change the information You submitted at the stage of registration, except Your display name/ user name. An option for facilitating such change shall be present on the home screen of the Website and such change can be facilitated by emailing us at [insert email address] or contact our customer service department at [insert number]. If You change any information, We may keep track of Your old information. 
									p.menu-list-noitem If you believe that any information we are holding on you is incorrect or incomplete, or to remove Your profile, please write to or email us as soon as possible, at [insert email address] or contact our customer service department at [insert number]. We shall promptly correct any information found to be incorrect. All User profiles are kept confidential and are not viewable by any other members/users.  
									p.menu-list-noitem We shall retain in Our files, information You have requested to remove for certain circumstances, such as to resolve disputes, troubleshoot problems and enforce Our terms and conditions. Further, such prior information is never completely removed from Our databases due to technical and legal constraints, including stored 'back up' systems. Therefore, You should not expect that all of Your personally identifiable information shall be completely removed from our databases in response to Your requests.

								li.tnc-menu__item SECURITY
									p.menu-list-noitem We treat data as an asset that must be protected against loss and unauthorised access. We employ many different security techniques to protect such data from unauthorised access by members inside and outside the Company. We follow generally accepted industry standards to protect the Personal Information submitted to Us and information that we have accessed. However, “perfect security” does not exist on the Internet. You therefore agree that any security breaches beyond the control of Our standard security procedures are at Your sole risk and discretion.
								li.tnc-menu__item INDEMNITY
									p.menu-list-noitem You agree and undertake to indemnify us in any suit or dispute by any Third Party arising out of disclosure of Personal Information by You to Third Parties either through Our Website or otherwise and Your use and access of Websites and resources of Third Parties. We assume no liability for any actions of Third Parties with regard to Your Personal Information, which You may have disclosed to such Third Parties. 
								li.tnc-menu__item SEVERABILITY
									p.menu-list-noitem Each paragraph of this privacy policy shall be and remain separate from and independent of and severable from all and any other paragraphs herein except where otherwise expressly indicated or indicated by the context of the agreement. The decision or declaration that one or more of the paragraphs are null and void shall have no effect on the remaining paragraphs of this privacy policy.
								li.tnc-menu__item AMENDMENT
									p.menu-list-noitem Our Privacy Policy may change from time to time. Hence we shall  notify You of any privacy policy changes via email. 
	//START: Footer
	footer.section-padding
		.container
			.row
				.col-xs-12.mobile-footer
					a(href='javascript:void(0);').mobile-footer__link
						img(src='img/Logo.svg' alt='Mobike Bazaar')
					a(href='javascript:void(0);').mobile-footer__link terms &amp; conditions

				.col-sm-12.col-md-10.col-md-offset-1.hidden-xs
					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm information
						ul.footer-list
							li.footer-list__item
								a(href='aboutus.html').footer-list__link about us
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link delivery information
							li.footer-list__item
								a(href='privacy-policy.html').footer-list__link privacy policy
							li.footer-list__item
								a(href='terms-conditions.html').footer-list__link terms &amp; conditions
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link site map

					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm my account
						ul.footer-list
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link my account
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link order history
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link wish list
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link newsletter
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link email a friend

					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm service &amp; support
						ul.footer-list
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link brands
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link get vouchers
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link affiliates
							li.footer-list__item
								a(href='javascript:void(0);').footer-list__link get a quote

					.col-sm-3.footer__bloc
						h4.footer__header.heading-sm connect with us
						ul.footer-list
							li.footer-list__item
								a(href='tel:+91 9414111060').footer-list__link +91 9414111060
							li.footer-list__item
								a(href='mailto:sellers@mobikebazar.com').footer-list__link sellers@mobikebazar.com
						ul.social
							li.social__item
								a(href='javascript:void(0);').social__link.social__link--facebook
									i.mb-icon-facebook.social__icon
							li.social__item
								a(href='javascript:void(0);').social__link.social__link--twitter
									i.mb-icon-twitter.social__icon
							li.social__item
								a(href='javascript:void(0);').social__link.social__link--linkedin
									i.mb-icon-linkedin.social__icon
	//START: Login Modal- User
	#userLogin.modal.fade.modal--fullxs.modal--loginSignup(tabindex='-1', role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.login-recovery-wrapper
					.login-wrapper
						.modal-header
							button.close(type='button', data-dismiss='modal', aria-label='Close')
								span(aria-hidden='true') ×
							h4.modal-title Login with MobikeBazar 
						.modal-body
							form.login-form(data-toggle="validator" role="form")
								.row
									.col-sm-12
										.form-group
											span.input.input--hoshi
												input#email-field.input__field.input__field--hoshi(type='text' data-error="Please enter email address" required)
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='email-field')
													span.input__label-content.input__label-content--hoshi Email 
											.help-block.with-errors
									.col-sm-12
										.form-group
											span.input.input--hoshi
												input#password-field.input__field.input__field--hoshi(type='password' data-error="Please enter password" required)
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='password-field')
													span.input__label-content.input__label-content--hoshi Choose Password
											.help-block.with-errors

									.col-sm-12.form-button
										button.button.button--primary-white.button--lg.btn-block LOGIN
									.col-sm-12.form-button
										.form-group.clearfix
											.form-bottom-link 
												a.button.button--link.recover-pw-link(href='#')  Recover Password
											.form-bottom-link New to mobike bazar? 
												a.button.button--link(href="http://projects.lollypop.biz/mobikebazar/signup.html")  Sign Up !
					.recover-pw-wrapper
						.modal-header
							h4.modal-title Recover Password 
							p.modal-subtitle We will send you a recovery mail. Please enter your email ID
						.modal-body
							form.login-form(data-toggle="validator" role="form")
								.row
									.col-sm-12
										.form-group
											span.input.input--hoshi
												input#email-field.input__field.input__field--hoshi(type='text' data-error="Please enter email address" required)
												label.input__label.input__label--hoshi.input__label--hoshi-color-1(for='email-field')
													span.input__label-content.input__label-content--hoshi Email
											.help-block.with-errors
								
									.col-sm-12.form-button
										button.button.button--primary-white.button--lg.btn-block recover password
									.col-sm-12.form-button
										.form-group.clearfix
											.text-center
												a.button.button--link.login-go-back(href='#')  LOGIN
	//START: Plugin Scripts
	script(src="js/plugins/jquery.js")
	script(src="js/plugins/bootstrap.min.js")
	script(src="js/plugins/vivus.min.js")

	//START: Custom Scripts
	script(src="js/vivus-init.js")
	script(src="js/main.js")
